.cart-items-title{
    display: flex;
    gap: 25px;
    font-size: 18px;
    text-align: center; 
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    font-size: 18px;

}
