.footer{
    background-color: rgba(39, 38, 38, 0.815);
    color: white;
    margin-top: 80px;
}
.footer-content{
    padding-top:30px;
    font-size: 14px;
}
.footer-content-left p{
    padding: 15px 0px;
}
.footer-content-center ul{
    padding: 15px 0px;
    list-style: none;
}
.footer-content-right ul{
    padding: 15px 0px;
    list-style: none;

}
.footer-content-center{
    padding: 0px 90px;
}
.footer-social-icons img{
    margin: 0px 10px;
}
.footer-copyright{
    font-size: 14px;
    text-align: center;
}